@use '../variables.scss';

.app {
  display: grid;
  grid-template-columns: minmax(12rem, 1fr) 3fr;
  width: 100vw;
  height: 100vh;
  background-color: variables.$background;
  overflow: hidden;
}

.actions-sidebar {
  padding: 1.8rem;
  background-color: variables.$white;
}

.create-node-form,
.create-edge-form,
.update-node-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &__divider {
    height: 1px;
    background-color: variables.$gray-500;
    margin-bottom: 1.5rem;
  }

  &__select,
  &__input {
    margin-bottom: 1.5rem;
  }

  &__submit-btn {
    margin-bottom: 2rem;
  }
}

.node {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.8rem;
  background-color: variables.$white;
  border: 1px solid variables.$gray-300;
  border-radius: 4px;
  transition: border 0.2s ease;
  font-weight: 600;

  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    border: 1px solid variables.$blue;
  }
}

.edge {
  stroke: variables.$gray-600;
  stroke-width: 2;
}

.arrow {
  fill: variables.$gray-600;
}
