@import '../variables.scss';

.app {
  display: grid;
  grid-template-columns: minmax(12rem, 1fr) 3fr;
  width: 100vw;
  height: 100vh;
  background-color: $background;
  overflow: hidden;
}

.actions-sidebar {
  padding: 1.8rem;
  background-color: $white;
  border-right: 1px solid $gray-200;

  &__divider {
    height: 1px;
    background-color: $gray-200;
    margin-bottom: 1.5rem;
    width: 100%;

    &:last-child {
      display: none;
    }
  }
}

.create-node-form,
.create-edge-form,
.update-node-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  &__select,
  &__input {
    margin-bottom: 1.5rem;
  }

  &__submit-btn {
    margin-bottom: 2rem;
  }
}

.create-node-form__heading {
  margin-top: 0;
}

.node {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1.8rem;
  background-color: $white;
  border: 1px solid $gray-300;
  border-radius: 4px;
  transition: border 0.2s ease;
  font-weight: 600;

  &:hover,
  &:focus {
    cursor: pointer;
    border: 1px solid $blue;
  }

  &__content {
    &__title {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0.5rem 0;
    }

    &__id {
      display: block;
      font-weight: 500;
      color: $gray-400;
    }
  }
}

.edge {
  stroke: $gray-600;
  stroke-width: 2;
}

.arrow {
  fill: $gray-600;
}
