<div class="app">
  <div class="actions-sidebar">
    <form class="create-node-form" [formGroup]="createNodeForm">
      <strong class="create-node-form__heading">Create a node</strong>
      <div class="create-node-form__divider"></div>

      <input class="create-node-form__input" formControlName="title" placeholder="Title" />

      <button class="create-node-form__submit-btn" lib-button (click)="createNode()">
        Create node
      </button>
    </form>

    <form class="create-edge-form" [formGroup]="createEdgeForm">
      <strong class="create-edge-form__heading">Create an edge</strong>
      <div class="create-edge-form__divider"></div>

      <label>Source Node</label>
      <select class="create-edge-form__select" formControlName="sourceId">
        <option value="" selected disabled>Select a node</option>
        <option *ngFor="let node of nodes" [value]="node.id">
          {{ node.data?.title }}
        </option>
      </select>

      <label>Target Node</label>
      <select
        class="create-edge-form__select"
        formControlName="targetId"
        placeholder="Select a node"
      >
        <option value="" selected disabled>Select a node</option>
        <option *ngFor="let node of nodes" [value]="node.id">
          {{ node.data?.title }}
        </option>
      </select>

      <button class="create-edge-form__submit-btn" lib-button (click)="createEdge()">
        Create edge
      </button>
    </form>

    <form class="update-node-form" [formGroup]="updateNodeForm" *ngIf="nodeIdToUpdate">
      <strong class="update-node-form__heading">Update a node</strong>
      <div class="update-node-form__divider"></div>

      <input class="update-node-form__input" formControlName="title" placeholder="Title" />

      <button class="update-node-form__submit-btn" lib-button (click)="updateNode()">
        Update node
      </button>
    </form>
  </div>

  <lib-graph [centerOnChanges]="true">
    <ng-container *defsTemplate>
      <svg:marker
        class="arrow"
        id="arrow"
        viewBox="0 -5 10 10"
        refX="8"
        refY="0"
        markerWidth="4"
        markerHeight="4"
        orient="auto"
      >
        <svg:path d="M0,-5L10,0L0,5" />
      </svg:marker>
    </ng-container>

    <ng-container *nodeTemplate="let node; nodes: nodes">
      <svg:g
        xmlns="http://www.w3.org/2000/xhtml"
        width="400"
        height="80"
        (click)="showNodeUpdateForm(node.id)"
      >
        <svg:foreignObject width="400" height="80">
          <xhtml:div class="node" xmlns="http://www.w3.org/1999/xhtml">
            <p class="node__title">{{ node.data.title }}</p>
          </xhtml:div>
        </svg:foreignObject>
      </svg:g>
    </ng-container>

    <ng-container *edgeTemplate="let edge; edges: edges">
      <svg:g class="edge">
        <svg:path
          class="edge__line"
          marker-end="url(#arrow)"
          [attr.d]="edge.pathDefinition"
        ></svg:path>
      </svg:g>
    </ng-container>
  </lib-graph>
</div>
