@import './variables.scss';

/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $gray-900;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

label {
  color: $gray-400;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 600;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

button {
  font-family: inherit;
  background-color: $blue;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 4px;
  color: rgba($white, 0.9);
  font-weight: 700;
}

input,
select {
  font-family: inherit;
  border-radius: 3px;
  border: 1px solid $gray-400;
  padding: 0.4rem 0.6rem;
}
